[Desktop Entry]
Encoding=UTF-8
Name=Link to 1. Exploratory Data Analysis
Type=Link
URL=https://itl.nist.gov/div898/handbook/eda/eda.htm
Icon=text-html
