[Desktop Entry]
Encoding=UTF-8
Name=Link to 15 Stunning Data Visualizations (And What You Can Learn From Them) | Visual Learning Center by Visme
Type=Link
URL=https://visme.co/blog/examples-data-visualizations/
Icon=text-html
