[Desktop Entry]
Encoding=UTF-8
Name=Link to 7 Exploratory Data Analysis | R for Data Science
Type=Link
URL=https://r4ds.had.co.nz/exploratory-data-analysis.html
Icon=text-html
