[Desktop Entry]
Encoding=UTF-8
Name=Link to A Simple Tutorial on Exploratory Data Analysis | Kaggle
Type=Link
URL=https://www.kaggle.com/pavansanagapati/a-simple-tutorial-on-exploratory-data-analysis
Icon=text-html
