[Desktop Entry]
Encoding=UTF-8
Name=Link to The Power of Visualization - Towards Data Science
Type=Link
URL=https://towardsdatascience.com/the-power-of-visualization-in-data-science-1995d56e4208
Icon=text-html
