[Desktop Entry]
Encoding=UTF-8
Name=Link to Welcome — Statistics Done Wrong
Type=Link
URL=https://www.statisticsdonewrong.com/index.html
Icon=text-html
