[Desktop Entry]
Encoding=UTF-8
Name=Link to A Gentle Introduction to Statistical Hypothesis Testing
Type=Link
URL=https://machinelearningmastery.com/statistical-hypothesis-tests/
Icon=text-html
