[Desktop Entry]
Encoding=UTF-8
Name=Link to Handy Functions for A/B Testing in Python - Henry Feng - Medium
Type=Link
URL=https://medium.com/@henryfeng/handy-functions-for-a-b-testing-in-python-f6fdff892a90
Icon=text-html
