[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Correctly Interpret P Values
Type=Link
URL=https://blog.minitab.com/blog/adventures-in-statistics-2/how-to-correctly-interpret-p-values
Icon=text-html
