[Desktop Entry]
Encoding=UTF-8
Name=Link to Statistical Significance Explained - Towards Data Science
Type=Link
URL=https://towardsdatascience.com/statistical-significance-hypothesis-testing-the-normal-curve-and-p-values-93274fa32687
Icon=text-html
