[Desktop Entry]
Encoding=UTF-8
Name=Link to The Math Behind A/B Testing with Example Python Code
Type=Link
URL=https://towardsdatascience.com/the-math-behind-a-b-testing-with-example-code-part-1-of-2-7be752e1d06f
Icon=text-html
