[Desktop Entry]
Encoding=UTF-8
Name=Link to Why Are P Values Misinterpreted So Frequently? - Statistics By Jim
Type=Link
URL=https://statisticsbyjim.com/hypothesis-testing/p-values-misinterpreted/
Icon=text-html
