[Desktop Entry]
Encoding=UTF-8
Name=Link to Basic Time Series Manipulation with Pandas - Towards Data Science
Type=Link
URL=https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea
Icon=text-html
