[Desktop Entry]
Encoding=UTF-8
Name=Link to codenation-dev/Data-Science-Online
Type=Link
URL=https://github.com/codenation-dev/Data-Science-Online
Icon=text-html
