[Desktop Entry]
Encoding=UTF-8
Name=Link to Essential basic functionality — pandas 1.0.3 documentation
Type=Link
URL=https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html
Icon=text-html
