[Desktop Entry]
Encoding=UTF-8
Name=Link to Getting started with Data Analysis with Python Pandas
Type=Link
URL=https://towardsdatascience.com/getting-started-to-data-analysis-with-python-pandas-with-titanic-dataset-a195ab043c77
Icon=text-html
