[Desktop Entry]
Encoding=UTF-8
Name=Link to Normalizar ou padronizar as variáveis? - Data Hackers - Medium
Type=Link
URL=https://medium.com/data-hackers/normalizar-ou-padronizar-as-vari%C3%A1veis-3b619876ccc9
Icon=text-html
