[Desktop Entry]
Encoding=UTF-8
Name=Link to Pandas Tutorial: Essentials of Data Science in Pandas Library
Type=Link
URL=https://medium.com/@shakasom/pandas-tutorial-essentials-of-data-science-in-pandas-library-9b0c81dbfcb1
Icon=text-html
