[Desktop Entry]
Encoding=UTF-8
Name=Link to pandas documentation — pandas 1.0.3 documentation
Type=Link
URL=https://pandas.pydata.org/pandas-docs/stable/
Icon=text-html
