[Desktop Entry]
Encoding=UTF-8
Name=Link to Python Pandas Tutorial: A Complete Introduction for Beginners – LearnDataSci
Type=Link
URL=https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/
Icon=text-html
