[Desktop Entry]
Encoding=UTF-8
Name=Link to Why and How to Use Pandas with Large Data - Towards Data Science
Type=Link
URL=https://towardsdatascience.com/why-and-how-to-use-pandas-with-large-data-9594dda2ea4c
Icon=text-html
