[Desktop Entry]
Encoding=UTF-8
Name=Link to 11.3 Recursive Feature Elimination | Feature Engineering and Selection: A Practical Approach for Predictive Models
Type=Link
URL=https://bookdown.org/max/FES/recursive-feature-elimination.html
Icon=text-html
