[Desktop Entry]
Encoding=UTF-8
Name=Link to dimensionality reduction - Relationship between SVD and PCA. How to use SVD to perform PCA? - Cross Validated
Type=Link
URL=https://stats.stackexchange.com/questions/134282/relationship-between-svd-and-pca-how-to-use-svd-to-perform-pca
Icon=text-html
