[Desktop Entry]
Encoding=UTF-8
Name=Link to In-Depth: Manifold Learning | Python Data Science Handbook
Type=Link
URL=https://jakevdp.github.io/PythonDataScienceHandbook/05.10-manifold-learning.html
Icon=text-html
