[Desktop Entry]
Encoding=UTF-8
Name=Link to Principal Component Analysis explained | Kaggle
Type=Link
URL=https://www.kaggle.com/nirajvermafcb/principal-component-analysis-explained
Icon=text-html
