[Desktop Entry]
Encoding=UTF-8
Name=Link to 7 Classical Assumptions of Ordinary Least Squares (OLS) Linear Regression - Statistics By Jim
Type=Link
URL=https://statisticsbyjim.com/regression/ols-linear-regression-assumptions
Icon=text-html
