[Desktop Entry]
Encoding=UTF-8
Name=Link to Gentle Introduction to the Bias-Variance Trade-Off in Machine Learning
Type=Link
URL=https://machinelearningmastery.com/gentle-introduction-to-the-bias-variance-trade-off-in-machine-learning/
Icon=text-html
