[Desktop Entry]
Encoding=UTF-8
Name=Link to Introduction to Machine Learning Algorithms: Linear Regression
Type=Link
URL=https://towardsdatascience.com/introduction-to-machine-learning-algorithms-linear-regression-14c4e325882a
Icon=text-html
