[Desktop Entry]
Encoding=UTF-8
Name=Link to Lasso (statistics) - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Lasso_(statistics)
Icon=text-html
