[Desktop Entry]
Encoding=UTF-8
Name=Link to Ridge Regression for Better Usage - Towards Data Science
Type=Link
URL=https://towardsdatascience.com/ridge-regression-for-better-usage-2f19b3a202db
Icon=text-html
