[Desktop Entry]
Encoding=UTF-8
Name=Link to The Gauss-Markov Theorem and BLUE OLS Coefficient Estimates - Statistics By Jim
Type=Link
URL=https://statisticsbyjim.com/regression/gauss-markov-theorem-ols-blue
Icon=text-html
