[Desktop Entry]
Encoding=UTF-8
Name=Link to Tikhonov regularization - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Tikhonov_regularization
Icon=text-html
