[Desktop Entry]
Encoding=UTF-8
Name=Link to Tutorial: Understanding Linear Regression and Regression Error Metrics
Type=Link
URL=https://www.dataquest.io/blog/understanding-regression-error-metrics/
Icon=text-html
