[Desktop Entry]
Encoding=UTF-8
Name=Link to Understanding the Bias-Variance Tradeoff
Type=Link
URL=http://scott.fortmann-roe.com/docs/BiasVariance.html
Icon=text-html
