[Desktop Entry]
Encoding=UTF-8
Name=Link to Confusion matrix and other metrics in machine learning
Type=Link
URL=https://medium.com/hugo-ferreiras-blog/confusion-matrix-and-other-metrics-in-machine-learning-894688cb1c0a
Icon=text-html
