[Desktop Entry]
Encoding=UTF-8
Name=Link to Let’s learn about AUC ROC Curve! - GreyAtom - Medium
Type=Link
URL=https://medium.com/greyatom/lets-learn-about-auc-roc-curve-4a94b4d88152
Icon=text-html
