[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.deeplearningbook.org/contents/prob.html
Type=Link
URL=https://www.deeplearningbook.org/contents/prob.html
Icon=text-html
