[Desktop Entry]
Encoding=UTF-8
Name=Link to Understanding Probability Distributions - Statistics By Jim
Type=Link
URL=https://statisticsbyjim.com/basics/probability-distributions/
Icon=text-html
