[Desktop Entry]
Encoding=UTF-8
Name=Link to Anthony Goldbloom gives you the secret to winning Kaggle competitions | Import.io
Type=Link
URL=https://www.import.io/post/how-to-win-a-kaggle-competition/
Icon=text-html
