[Desktop Entry]
Encoding=UTF-8
Name=Link to Discover Feature Engineering, How to Engineer Features and How to Get Good at It
Type=Link
URL=https://machinelearningmastery.com/discover-feature-engineering-how-to-engineer-features-and-how-to-get-good-at-it/
Icon=text-html
