[Desktop Entry]
Encoding=UTF-8
Name=Link to Feature Scaling with scikit-learn – Ben Alex Keen
Type=Link
URL=https://benalexkeen.com/feature-scaling-with-scikit-learn/
Icon=text-html
