[Desktop Entry]
Encoding=UTF-8
Name=Link to Feature Engineering | Python Data Science Handbook
Type=Link
URL=https://jakevdp.github.io/PythonDataScienceHandbook/05.04-feature-engineering.html
Icon=text-html
