[Desktop Entry]
Encoding=UTF-8
Name=Link to Feature Engineering Cookbook for Machine Learning - Michael Abehsera - Medium
Type=Link
URL=https://medium.com/@michaelabehsera/feature-engineering-cookbook-for-machine-learning-7bf21f0bcbae
Icon=text-html
