[Desktop Entry]
Encoding=UTF-8
Name=Link to Fundamental Techniques of Feature Engineering for Machine Learning
Type=Link
URL=https://towardsdatascience.com/feature-engineering-for-machine-learning-3a5e293a5114
Icon=text-html
