[Desktop Entry]
Encoding=UTF-8
Name=Link to Outlier detection with Scikit Learn | Bartosz Mikulski
Type=Link
URL=https://www.mikulskibartosz.name/outlier-detection-with-scikit-learn/
Icon=text-html
