[Desktop Entry]
Encoding=UTF-8
Name=Link to Working With Text Data — scikit-learn 0.23.1 documentation
Type=Link
URL=https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html
Icon=text-html
